:root {
    --navbar-background-color: #fff;
    --navbar-text-color: #fff;
    --font_family: 'Poppins', sans-serif !important;
    --icon_logo_color_navbar: #FF8341;
    --icon_selected_color_navbar: rgb(255 131 65);
    --icon_selected_background_color: #f19b6c33;
    --textColor: white;
    --buttonTextColor: #fff;
    --headingColor: #000000;
    --subheadingColor: #505d6f;
    --fontFamily: " font-family: 'Mulish', sans-serif;"
  }