/* Carousel section start here  */

.CarouselHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CarouselHeading h4 , .CarouselHeading h5{
    margin-top:0px !important;
    margin-bottom:10px !important;
}

.CarouselHeading h5{
    color: rgba(255, 131, 65, 255);
    font-size: 16px;
}

.CarouselMainParent {
    background-color: rgba(244, 244, 244, 255);
    position: relative;
    padding: 15px;
    width: 1260px;
    min-height: 200px !important;
    margin-bottom:10px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.CarouselDetailsParent {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.CarouselImgTextParent {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 190px;
    height: 100%;
    margin: 5px;
    border-radius: 10px;
}

.CarouselImgTextParent img {
    color: white;
    border-radius: 10px;
}

.CarouselImgTextParent h3 {
    background-color: rgba(252, 235, 226, 255);
    margin-top: 3px;
    margin-bottom:-23px !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    padding: 10px;
}

.CarouselImgTextParent h4{
    position: absolute;
    top:80%;
    left:8%;
    color:White;
    margin-top:0px !important;
    margin-bottom:0px !important;
}

/* first carousel end  here of Cocktails */


/* Previous and next button css start here  */

.PreviousBtn{
    border: 2px solid rgba(255, 131, 65, 255);
    color: rgba(255, 131, 65, 255) !important;
    font-size: 15px !important;
    position: absolute;
    top: 90%;
    right: 4%;
}

.NextBtn{
    border: 2px solid rgba(255, 131, 65, 255);
    color: rgba(255, 131, 65, 255) !important;
    font-size: 15px !important;
    position: absolute;
    top: 90%;
    right: 1%;
}

.PreAndNextIcon{
    font-size: 15px !important;
    margin-top: 2px;
}

/* Previous and next button css end here  */